.header {
  width: 100%;
  padding: 1rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  background-color: var(--colorHoverBGCard);
}
.header div {
  width: 100%;
  padding-right: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dotes {
  font-weight: 700;
  font-size: 35px;
}
.header img {
  width: 40px;
}
