.form {
  width: 90%;
  margin: 0 auto;
  padding: 2rem;
}
.form-card {
  padding: 1rem 2rem;
}
.form-group {
  position: relative;
}
.eye {
  position: absolute;
  top: 0.8rem;
  right: 0.8rem;
  cursor: pointer;
}
.form #logout {
  position: absolute;
  max-width: 100px;
  text-align: center;
  top: 0;
  right: 1rem;
}
